.navbar {
    height: 50px;
    border-bottom: .5px solid #EDEDED;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #444444;
    .wrapper {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .search {
            display: flex;
            align-items: center;
            border: .5px solid #b5b5b5;
            padding: 3px;
            input {
                border: none;
                outline: none;
                background-color: transparent;
            }
        }
        .items {
            display: flex;
            align-items: center;
            .item{
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative;
                .icon {
                    font-size: 20px;
                }
                .avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
                .counter {
                    height: 15px;
                    width: 15px;
                    background-color: #DA0037;
                    color: #EDEDED;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10;
                    font-weight: bold;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                }
            }
        }
    }
}